
{% extends 'sites/base.html' %}
{% block content %}

  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

<div class="container">
  <br><br><br>
  <h2 class="text-center">Login</h2></br>
   <hr />
  <br>
  <form method="post">
    <div class="text-center">
      {% csrf_token %}
      {{ form.as_p }}</div>
  <div class="text-center"> <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
</div>


{% endblock %}